body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
  line-height: 1.5;
}
header {
  background: #0d47a1;
  color: #fff;
  padding: 10px 40px;
  text-align: center;
}
nav {
  background: #08306b;
  padding: 10px 40px;
  display: flex;
  gap: 20px;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.section {
  padding: 40px;
  max-width: 1000px;
  margin: auto;
  background: #fff;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.robot-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.robot-gallery img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background: #0d47a1;
  color: #fff;
}
.logo {
  height: 100px;
  margin-bottom: 0px;
  border-radius: 20px; 
}
